apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-medusa
spec:
  replicas: 1
  selector:
    matchLabels:
      app: medusa
  template:
    metadata:
      labels:
        app: medusa
    spec:
      containers:
        - name: medusa
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 9000
          readinessProbe:
            httpGet:
              path: /health
              port: 9000
          livenessProbe:
            httpGet:
              path: /health
              port: 9000
          resources:
{{ toYaml .Values.resources | indent 12 }}
